#caja{
    background-color: aqua;
    #caja2{
        background-color: brown;
        h1{
            color: chartreuse;
        }
        p{
            background-color: aquamarine;
        }
    }
}