.container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 40px 250px 359px;
    grid-template-areas: 
    "logo"
    "responsive"
    "cuadro";
    background-color: rgb(225, 240, 235);
}
.columnas{
    grid-area: cuadro;
    background-color: white;
    border-top: 10px solid white;
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 150px repeat(6, 10px);
    gap: 20px;
    justify-content: center;
}
.responsive{
    font-size: 70px;
    text-align: center;
}
.responsive{
    background-color: rgb(194, 135, 80);
    grid-area: responsive;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu{
    grid-area: logo;
    display: grid;
    background-color: white;
    width: 100%;
    grid-template-columns: 10% 10% 20% 20% 20%;
    grid-template-areas: "vacio menu about shoppin close";
    align-content: center;
    text-align: center;
    gap: 10%;
    font-size: 90%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.logo{
    grid-area: none;
}