body{
    display: flex;
    background-color: bisque;
    justify-content: center;
}

.container{
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr;
    grid-template-rows: 85px 40px 225px 230px auto;
    grid-template-areas: 
    "header header header"
    "navbar navbar navbar"
    "ofertas ofertas ofertas"
    "productos productos productos"
    "footer footer footer";
    background-color: transparent;
    width: 90%;
    height: 100vh;
    row-gap: 5px;
}

.header{
    grid-area: header;
    grid-column: 1 / span 3;
    background-color: transparent;
    text-align: center;
    line-height: auto;
}

.navbar{
    grid-area: navbar;
    grid-column: 1/ span 3;
    background-color: rgb(17, 24, 24);
    line-height: 35px;
}

.ofertas{
    grid-area: ofertas;
    background: radial-gradient(rgb(197, 132, 132), rgb(230, 43, 43));
    line-height: 90px;
    display: flex;
}

.productos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-column: 1 / 4;
    display: grid;
    gap: 5px;
    grid-template-columns: [pr1] 1fr [pr2] 1fr [pr3] 1fr;
    grid-area: productos;
}

.prod{
    background: linear-gradient(gray, black);
    padding: 5%;
    line-height: 25px;
}

.footer{
    grid-area: footer;
    background-color: transparent ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    line-height: 15px;
}

.border{
    border-radius: 20px;
}

button{
    background-color: transparent;
    border: transparent;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}